<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <title>Artspire | Forgot Password</title>
</head>

<body>
  <div class="container">
    <div class="content">
      <!-- Pinterest logo -->
      <img src="/images/logo.png" alt="pin logo" class="img1" />
      <p class="header">Forgot Password</p>

      <form class="log-form" action="/resetpassword" method="post">
        <p class="reset-info">Enter your email address to reset your password.</p>
        <input type="email" name="email" placeholder="Email" class="detail" required /><br />
        <input class="btn-primary" style="border-radius: 25px;" type="submit" value="Reset Password">
      </form>

      <p class="sign-foot">Remember your password? <span><a href="/login">Login</a></span></p>
    </div>
  </div>
</body>

</html>
