<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <title>Artspire | login</title>
</head>

<body>
  <div class="hero">
    <div class="left">
      <div class="wrapper">
        <div class="masonry" id="masonry">
          <div class="masonry-item" style="grid-row-end: span 30;">
            <style>
              img{
                object-fit: cover;
              }
            </style>
            <img src="/images/Uploaded/3.png" alt="Masonry Brick #1" class="masonry-content" style="height: 300px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 23;">
            <img src="/images/Uploaded/4.png" alt="Masonry Brick #2" class="masonry-content" style="height: 230px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 16;">
            <img src="https://images.unsplash.com/photo-1702163752151-3c14fd39f906?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3NHx8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #3" class="masonry-content" style="height: 160px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 19;">
            <img src="/images/Uploaded/1.png" alt="Masonry Brick #4" class="masonry-content" style="height: 190px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 27;">
            <img src="/images/Uploaded/2.jpg" alt="Masonry Brick #5" class="masonry-content" style="height: 270px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 12;">
            <img src="https://images.unsplash.com/photo-1701906268448-6c559049e58a?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #6" class="masonry-content" style="height: 120px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 19;">
            <img src="https://plus.unsplash.com/premium_photo-1680806490620-b5bb8b693f89?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1N3x8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #7" class="masonry-content" style="height: 190px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 25;">
            <img src="https://images.unsplash.com/photo-1702661689938-32e8b6bcd470?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #8" class="masonry-content" style="height: 250px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 14;">
            <img src="https://images.unsplash.com/photo-1701656626370-47a0b1bdc4d7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #9" class="masonry-content" style="height: 140px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 17;">
            <img src="https://images.unsplash.com/photo-1702047023577-d6e775bc798d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Masonry Brick #10" class="masonry-content" style="height: 170px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 12;">
            <img src="https://unsplash.it/700/300?image=11" alt="Masonry Brick #11" class="masonry-content" style="height: 120px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 19;">
            <img src="https://unsplash.it/700/500?image=12" alt="Masonry Brick #12" class="masonry-content" style="height: 190px;">
          </div>
          <div class="masonry-item" style="grid-row-end: span 19;">
            <img src="https://unsplash.it/700/500?image=12" alt="Masonry Brick #12" class="masonry-content" style="height: 190px;">
          </div>
  
        </div>
      </div>
    </div>
    <div class="right"><div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="/images/logo.png" alt="pin logo"
          class="img1" />
        <p class="header">Log in to Artspire</p>
        
        <!-- New ejs error code -->
        <% if(error.length > 0){%>
          <p class="error"><%= error %></p>
        <% } %>
  
        <Form class="log-form" action="/login" method="post">
          <input type="text" name="username" placeholder="Username" class="detail" required /><br />
          <input type="password" name="password" placeholder="Password" class="detail" required />
          <input class="btn-primary" style="border-radius: 25px;" type="submit" value="Login">
        </Form>
        <a class="frgt-pw" href="/forgotpass">Forgot your password?</a>
          <p class="sign-foot">Not on Artspire yet? <span><a href="/">Sign up</a></span> </p>
      </div>
    </div></div>
  </div>
  
  <!-- <div class="upbtn">Sign up</div> -->

</body>

</html>