<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <title>Artspire | Reset Password</title>
</head>

<body>
  <div class="container">
    <div class="content">
      <!-- pinterest logo -->
      <img src="/images/logo.png" alt="pin logo" class="img1" />
      <p class="header">Reset Your Password</p>

      <!-- Password reset form -->
      <form class="log-form" action="/resetpassword/<%= token %>" method="post">
        <input type="password" name="password" placeholder="New Password" class="detail" required /><br />
        <input type="password" name="confirmPassword" placeholder="Confirm Password" class="detail" required /><br />
        <input class="btn-primary" style="border-radius: 25px;" type="submit" value="Reset Password">
      </form>

      <!-- Back to login link -->
      <p class="sign-foot">Remember your password? <span><a href="/login">Login</a></span> </p>
    </div>
  </div>
</body>

</html>
